.language-picker {
    color: white;
    padding: 15px 25px;
    width: fit-content;
}

.flag-container {
    padding: 8px 11px;
    border: 1px solid rgb(193, 189, 189);
    background-color: #24282C;
}

.flag-holder {
    width: 30px;
    height: 20px;
    padding: 7px 10px;
    aspect-ratio: 3 / 2;
    border: 1px solid rgb(162, 158, 158);
    box-sizing: content-box;
    border-radius: 5px;
    cursor: pointer;
}

.flag {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2px;
}

.languages-list {
    position: absolute;
    right: 5px;
    background-color: #24282C;
    font-size: 0.9rem;
    min-width: 140px;
    border: 1px solid #3e454c;
    border-radius: 5px;
}

.languages-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    padding: 0px 9px;
    height: 40px;
}

.languages-list > li:hover {
    background-color: #3e454c;
}

.flag-element {
    width: 30px;
}

.used {
    font-weight: 500;
}

.used::after {
    content: "<";
    font-weight: 500;
}