.play-btn {
    width: 130px;
    color: black;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    border-radius: 5px;
}

.online {
    background-color: rgb(4, 81, 4);
}

.in-queue {
    background-color: orange;
}