nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: orange;
    height: 3rem;
    z-index: 9999;
}

nav li {
    cursor: pointer;
}

/*
Design sélection  de language : 
Drapeau affiché, au clic ouvre une modale affichant drapeau + langue
*/